.location{
    background-color: rgb(44, 62, 80);
    padding: 50px 0px;
}
.location li i{
    cursor: pointer;
    transition: all 0.5s;
}
.location li i:hover{
    background-color: white;
    color: #000;
}

@media screen and (max-width:976px) {
    .location ul{
        width: 300px !important;
        margin: auto;
    }
}